@import "reset.css"; /* CSS Reset */
@import "variables.css"; /* CSS Variables */

/* MAIN CSS FOR WEBSITE */
body {
  font-family: var(--font-orbitron);
  background-color: var(--color-black);
  color: var(--color-white);
  width: 100vw;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* animations */
  animation-name: h1Slaying;
  animation-duration: 4s;
}

/* GO FANCY GURRRRRLLLLLLLL! */
/* The animation code */
@keyframes h1Slaying {
  from {
    background-color: red;
  }
  to {
    background-color: var(--color-black);
  }
}

h1 {
  font-size: var(--font-size-h1);
  padding: 68px 0;
  width: 100%;
  text-align: center;
}

/* SECTION: FORM */
.form {
  width: 100vw;
  display: flex;
  background-color: var(--color-primary);
  min-height: 70vh;
  max-width: 1920px;
}

/* Left side */
.form__left {
  width: 40%;
  background-image: url(../images/bg_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid 2px var(--color-red);
}

.form__left--topline {
  background-color: var(--color-white);
  height: 1px;
  width: 100%;
  padding-top: 32px;
}

.form__left--text {
  display: block;
  width: 100%;
  font-size: var(--font-size-h2);
  text-align: left;
  margin-left: 33px;
  margin-top: 33px;
  margin-bottom: 33px;
}

.form__left--text > span {
  color: red;
}

.form__left--underline {
  background-color: var(--color-white);
  height: 32px;
  width: 100%;
}

/* Right side */
.form__right {
  width: 60%;
  border-top: solid 2px var(--color-red);
  border-bottom: solid 2px var(--color-red);
  border-right: solid 2px var(--color-red);
}

.form__right--top {
}

.form__right--top-txt {
  padding: 1.5rem;
  display: inline-block;
  font-size: var(--font-size-h3);
}

.form__right--bottom-txt {
  display: inline-block;
  padding: 1.5rem;
  color: var(--color-red);
  font-size: var(--font-size-h3);
}

/************************************/
/* Real form starts here */
/************************************/

.form__right--center {
  padding: 3rem;
}

.realform {
  border: solid 1px #fff;
  transition: 0.5s;
}

.realform:hover {
  border: solid 1px red;
}

.realform__h2 {
  text-align: center;
  padding: 26px 0;
}

input {
  color: var(--color-black);
}

.realform__row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 42px;
}

fieldset {
  display: flex;
  flex-direction: column;
}

/* First row */
.realform__first-row--name {
  display: flex;
  flex-direction: column;
}

.realform__first-row--lastname {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

.realform__row input {
  width: 100%;
}

.realform__row input:focus {
  color: var(--color-primary);
}

.realform__first-row--name fieldset label {
  transition: 0.5s;
}

/* Validation */
.realform__first-row--name fieldset:invalid label,
.realform__first-row--lastname fieldset:invalid label {
  color: red;
}

/* JS validation */
.password-validation-js {
  color: var(--color-red);
  font-size: 0.7rem;
  margin: 8px 0;
  text-decoration: underline;
}

/* Bottom part of form */
.form__right--bottom {
  padding: 48px;
}

.form__right--bottom-btn {
  background-color: var(--color-white);
  width: 200px;
  height: 60px;
  transition: 0.5s;
}

.form__right--bottom-btn:hover {
  background-color: red;
  color: var(--color-primary);
  cursor: pointer;
}

.form__right--bottom-text {
  margin-left: 16px;
}

.form__right--bottom-text a {
  color: var(--color-red);
  margin-left: 4px;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.5s;
}

.form__right--bottom-text a:hover {
  font-size: 1.2rem;
}
