@import "reset.css"; /* CSS Reset */
@import "variables.css"; /* CSS Variables */

/* MAIN CSS FOR WEBSITE */
body {
  font-family: var(--font-orbitron);
  background-color: var(--color-black);
  color: var(--color-white);
  width: 100vw;
  line-height: 1.6;
}

h1 {
  font-size: var(--font-size-h1);
  margin: 68px 0;
  text-align: center;
}

/* SECTION: FORM */
.form {
  width: 100vw;
  display: flex;
  background-color: var(--color-primary);
  min-height: 70vh;
}

/* Left side */
.form__left {
  width: 37.5vw;
  background-image: url(../images/bg_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid 2px var(--color-red);
}

.form__left--topline {
  background-color: var(--color-white);
  height: 1px;
  width: 100%;
  padding-top: 32px;
}

.form__left--text {
  display: block;
  width: 100%;
  font-size: var(--font-size-h2);
  text-align: left;
  margin-left: 33px;
  margin-top: 33px;
  margin-bottom: 33px;
}

.form__left--text > span {
  color: red;
}

.form__left--underline {
  background-color: var(--color-white);
  height: 32px;
  width: 100%;
}

/* Right side */
.form__right {
  width: 62.5vw;
  border-top: solid 2px var(--color-red);
  border-bottom: solid 2px var(--color-red);
  border-right: solid 2px var(--color-red);
}

.form__right--top {
}

.form__right--top-txt {
  padding: 1rem;
  display: inline-block;
  font-size: var(--font-size-txt);
}

.form__right--bottom-txt {
  display: inline-block;
  padding: 1rem;
  color: var(--color-red);
  font-size: var(--font-size-h3);
}

/************************************/
/* Real form starts here */
/************************************/

.form__right--center {
}

.realform {
}
