/* COLORS */
:root {
  --color-primary: #060047;
  --color-secondary-600: #b3005e;
  --color-secondary-400: #e90064;
  --color-secondary-200: #ff5f9e;
  --color-white: #fff;
  --color-black: #33333;
}

/* FONTS */
:root {
  --font-roboto: "Roboto Mono", monospace;
  --font-orbitron: "Orbitron", sans-serif;
}
