/* COLORS */
:root {
  --color-primary: #060047;
  --color-secondary-600: #b3005e;
  --color-secondary-400: #e90064;
  --color-secondary-200: #ff5f9e;
  --color-white: #fff;
  --color-black: #131212;
  --color-red: red;
}

/* FONTS */
:root {
  --font-roboto: "Roboto Mono", monospace;
  --font-orbitron: "Orbitron", sans-serif;
}

/* FONTS SIZES */
:root {
  --font-logo-big: 5.25rem; /* 84px */
  --font-size-h1: 2.625rem; /* 42px */
  --font-size-h2: 2.0625rem; /* 33px */
  --font-size-h3: 1.625rem; /* 26px */
  --font-size-txt: 1rem; /* 16px */
}
